html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row-container {
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
}
div[data-is-alive="true"] {
    background-color: black;
    flex-basis: 10%;
}
div[data-is-alive="false"]  {
    background-color: purple;
    flex-basis: 10%;
}